<footer>
    <div>
        <h3>Content</h3>
        <ul>
            <li>New resources</li>
            <li>The Most Popular Content</li>
            <li>Search Trends</li>
            <li>Blog</li>
        </ul>
    </div>
    <div>
        <h3>Information</h3>
        <ul>
            <li>Plans & Pricing</li>
            <li>About Us</li>
            <li>Jobs</li>

        </ul>
    </div>
    <div>
        <h3>Legal</h3>
        <ul>
            <li>Terms & Conditions</li>
            <li>License Agreement </li>
            <li>Privacy Policy</li>
            <li>Copyright Information</li>
            <li>Cookies Policy</li>
            <li>Cookie Setting</li>
        </ul>
    </div>
    <div>
        <h3>Social Media</h3>
        <a href=""><img src=""></a>
        <a href=""><img src=""></a>
        <a href=""><img src=""></a>
        <a href=""><img src=""></a>
        <a href=""><img src=""></a>
    </div>
</footer>