<footer>
    <div>
        <h3>Get to Know Us</h3>
        <ul>
            <li>About Us</li>
            <li>Careers</li>
            <li>Press Releases</li>
            <li>Customer Care</li>
            <li>Gift a Smile</li>
        </ul>
    </div>
    <div>
        <h3>Connect with Us</h3>
        <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
        </ul>
    </div>
    <div>
        <h3>Legal</h3>
        <ul>
            <li>Terms & Conditions</li>
            <li>License Agreement </li>
            <li>Privacy Policy</li>
            <li>Copyright Information</li>
            <li>Cookies Policy</li>
            <li>Cookie Setting</li>
        </ul>
    </div>
    <div>
        <h3>Let Us Help You</h3>
        <ul>
            <li>Your Account</li>
            <li>Returns Centre</li>
            <li>100% Purchase Protection</li>
            <li>Help</li>
        </ul>
    </div>
</footer>