<link rel="stylesheet" href="/css/header.css">

<header>
    <nav>
        <ul>
            <a href="/" class="nav-links">
                <li>
                    <img class="logo" src="/images/logo-white.png" alt="logo">
                </li>
            </a>
            <a href="#" class="nav-links">
                <li>
                    <i class="fal fa-map-marker-alt"></i>Select your address
                </li>
            </a>
        </ul>
        <form action="#" method="POST" id="search-form">
            <input type="text" name="" id="" class="search-bar" placeholder="Search books by title, author, ISBN">
            <button class="search-button"><i class="far fa-search"></i></button>
        </form>
        <ul>
            <% if (locals.user) { %>
            <a href="#" class="nav-links">
                <li>Hello, <%= user.firstName %></li>
            </a>
            <% } else { %>
            <a href="/user/sign-in" class="nav-links">
                <li>Hello, Sign in</li>
            </a>
            <% } %>
            <a href="" class=" nav-links">
                <li>Orders</li>
            </a>
            <a href="/cart" class="nav-links">
                <li><i class="fas fa-shopping-cart"></i>Cart</li>
            </a>
        </ul>
    </nav>
</header>