<link rel="stylesheet" href="/css/login.css">

<a href="/"><img src="/images/logo-black.png" alt="logo" id="logo"></a>

<div id="login-container">
    <h1>Sign-In</h1>
    <form action="/user/create-session" method="post">
        <input type="email" name="email" required class="txt_field" placeholder="Email">
        <input type="password" name="password" required class="txt_field" placeholder="Password">
        <input type="submit" value="Sign-In">
    </form>
</div>

<div id="register-container">
    <span>New to Pages?</span>
    <a href="/user/sign-up"><button>Create your Pages account</button></a>
</div>