<link rel="stylesheet" href="/css/login.css">
<h1><%=title%></h1>

<form action="/customer/create" method="post">
    <input type="email" name="email" placeholder="Email*" required>
    <input type="password" name="password" placeholder="Password*" required>
    <input type="submit" value="Login">
</form>