<link rel="stylesheet" href="/css/register.css">

<div class="center">
  <h1>Register</h1>
  <form action="/user/create" method="post">

    <div class="txt_field">
      <input type="text" name="firstName" placeholder="First Name" required>
    </div>

    <div class="txt_field">
      <input type="text" name="lastName" placeholder="Last Name" required>
    </div>

    <div class="txt_field">
      <input type="email" name="email" placeholder="Email" required>
    </div>

    <div class="txt_field">
      <input type="tel" name="phoneNo" pattern="[0-9]{10}" placeholder="Phone No" required>
    </div>

    <div class="txt_field">
      <input type="password" name="password" placeholder="Password" required>
    </div>

    <div class="txt_field">
      <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
    </div>

    <div class="reg">
      <input type="submit" value="Register">
    </div>

    <div class="reg">
      Already a member? <a href="/user/login">Login</a>
    </div>
  </form>
</div>