<link rel="stylesheet" href="/css/register.css">

<div class="center">
  <h1>Register</h1>
  <form action="/user/create" method="post">

    <div class="txt_field">
      <input type="text" name="firstName" required>
      <span></span>
      <label>First Name</label>
    </div>

    <div class="txt_field">
      <input type="text" name="lastName" required>
      <span></span>
      <label>Last Name</label>
    </div>

    <div class="txt_field">
      <input type="email" name="email" required>
      <span></span>
      <label>Email</label>
    </div>

    <div class="txt_field">
      <input type="tel" name="phoneNo" pattern="[0-9]{10}" required>
      <span></span>
      <label>Phone No</label>
    </div>

    <div class="txt_field">
      <input type="password" name="password" required>
      <span></span>
      <label>Password</label>
    </div>

    <div class="txt_field">
      <input type="password" name="confirmPassword" required>
      <span></span>
      <label>Confirm Password</label>
    </div>

    <div class="reg">
      <input type="submit" value="Register">
      <span></span>
    </div>

    <div class="reg">
      Already a member? <a href="">Login</a>
    </div>
  </form>
</div>