<link rel="stylesheet" href="/css/register.css">

<a href="/"><img src="/images/logo-black.png" alt="logo" id="logo"></a>

<div id="register-container">
  <h1>Register</h1>
  <form action="/user/create" method="post">
    <input type="text" name="firstName" placeholder="First Name" required>
    <input type="text" name="lastName" placeholder="Last Name" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="tel" name="phoneNo" pattern="[0-9]{10}" placeholder="Phone No" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
    <input type="submit" value="Register">
  </form>
</div>

<div id="login-container">
  <span>Already have an account?</span>
  <a href="/user/login"><button>Sign in</button></a>
</div>