footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px;
    background-color: #fff;
}

footer div {
    height: 230px;
}

footer div h3 {
    text-transform: uppercase;
    color: blue;
    font-size: 20px;
    cursor: pointer;
}

footer div h3:hover {
    text-decoration: underline;
}

footer div ul {
    list-style: none;
}

footer div ul li {
    padding: 4px 0px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(138, 133, 133);
}

footer div ul li:hover {
    color: #00b5c3;
    color: rgba(255, 43, 74, 0.8);
    cursor: pointer;
}

footer div img {
    height: 35px;
    margin-right: 7px;
    margin-top: 10px;
}