header {
    background-color: #131921;
    padding: 0px 15px;
    width: 100%;
    padding: 5px;
}

header nav {
    display: grid;
    grid-template-columns: 25% 45% 30%;
    list-style-type: none;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

header nav ul li {
    border: 1px solid #131921;
    padding: 5px;
    transition: all 0.2s ease 0s;
}

header nav ul li:hover {
    border: 1px solid white;
    border-radius: 5px;
}

.logo {
    height: 40px;
}

.nav-links {
    color: white;
    font-size: 18px;
}

#search-form {
    display: grid;
    grid-template-columns: 12fr 1fr;
    border-radius: 5px;
    background-color: #f7a937;
    height: 38px;
    margin: auto;
    width: 100%;
}

.search-bar {
    padding: 10px;
    border: 0;
    border-radius: 5px 0px 0px 5px;
    font-size: 15px;
}

.search-button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.fa-search {
    display: inline-block;
    margin: auto;
    font-size: 21px;
    color: #131921;
}

.fa-map-marker-alt {
    margin-right: 5px;
    font-size: 14px;
}

.fa-shopping-cart {
    padding-right: 10px;
    font-size: 14px;
}