#order {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 3%;
    margin-bottom: 200px;
}

.heading-container {
    display: grid;
    grid-template-columns: 90% 10%;
    box-shadow: 0px 0px 2px rgb(238, 237, 237);
    padding: 10px 15px;
    margin: 8px;
    background-color: #fff;
    border-radius: 5px;
}

.title-heading {
    display: block;
}

.price-heading {
    display: inline-block;
    text-align: right;
    color: #565959;
    margin-top: auto;
    font-size: 16px;
}

.order-container {
    display: grid;
    grid-template-columns: 20% 70% 10%;
    box-shadow: 0px 0px 2px rgb(238, 237, 237);
    padding: 15px;
    margin: 8px;
    background-color: #fff;
    border-radius: 5px;
}

img.order-image {
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
}

div.order-info-container>p {
    margin-top: 8px;
    color: #66757f;
    font-size: 14px;
}

.order-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(47, 46, 65);
}

.price-column {
    color: #b12704;
    font-size: 17px;
    font-weight: 600;
    line-height: 36px;
    display: inline-block;
    text-align: right;
    margin-right: 0px;
}

#empty-order-container {
    box-shadow: 0px 0px 2px rgb(238, 237, 237);
    padding: 15px;
    margin: 8px;
    background-color: #fff;
    border-radius: 5px;
    height: 210px;
}

#empty-order-container span {
    margin-left: auto;
    display: block;
    text-align: right;
    color: #565959;
    font-size: 16px;
}

#summary-container {
    box-shadow: 0px 0px 2px rgb(238, 237, 237);
    padding: 10px 15px;
    margin: 8px;
    background-color: #fff;
    border-radius: 5px;
    height: fit-content;
}

#summary-container p {
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
}

#summary-container button {
    font-size: 13px;
    text-align: center;
    display: block;
    margin: 20px auto;
    padding: 9px 25px;
    background-color: #ffd814;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 500;
}

#summary-container button:hover {
    background-color: #e9c303;
}

#total-price {
    font-weight: bold;
}

.quantity-container {
    margin-top: 15px;
    background-color: #f0f2f2;
    display: inline-block;
    border: 0.1px solid #b8b5b5;
    border-radius: 4px;
}

.order-quantity {
    background-color: white;
    padding: 3px 13px;
    border-left: 0.1px solid #b8b5b5;
    border-right: 0.1px solid #b8b5b5;
    color: #131921;
    font-size: 16px;
    font-weight: bold;
}

.fa-minus,
.fa-plus {
    font-size: 15px;
    padding: 5px 5px;
    color: black;
}

.left-column {
    display: grid;
    grid-template-rows: 85% 15%;
}

.trash-icon {
    display: block;
    width: fit-content;
    margin-left: auto;
    background-color: #eceff0;
    font-size: 16px;
    padding: 7px;
    border-radius: 100%;
    color: #484848;
    transition: all 0.3s ease 0s;
}

.trash-icon:hover {
    color: red;
}