body {
    background-color: white;
}

#logo {
    display: block;
    width: 150px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#register-container {
    display: block;
    border: 0.1px solid #b8b5b5;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 26px 20px;
    border-radius: 4px;
    width: 330px;
}

h1 {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
}

input {
    display: block;
    width: 100%;
    line-height: 25px;
    margin: 25px 0px;
    padding: 3px;
    border: 0.1px solid #b8b5b5;
    border-radius: 3px;
    padding: 3px 7px;
    outline: none;
    font-size: 14px;
}

input:focus {
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}

input[type="submit"] {
    display: block;
    width: 100%;
    margin: 15px 0px;
    background: rgb(247, 169, 55, 80%);
    border: 0.1px solid #a88734;
    cursor: pointer;
    padding: 3px 7px;
}

input[type="submit"]:hover {
    background: rgb(247, 169, 55, 90%);
}

#login-container {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 330px;
}

#login-container span {
    display: block;
    margin: 25px 0;
    text-align: center;
    color: #767676;
}

#login-container a button {
    display: block;
    width: 100%;
    margin: 15px 0px;
    background: rgb(240, 242, 244, 80%);
    border: 0.1px solid #adb1b8;
    border-radius: 3px;
    cursor: pointer;
    padding: 3px 7px;
    line-height: 25px;
    margin-bottom: 100px;
}

#login-container a button:hover {
    background: rgb(234, 236, 238);
}